name: Tests E2E

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  NODE_VERSION: '20'

jobs:
  e2e-test:
    name: Tests E2E
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: ./.github/actions/setup-nodejs
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Tests E2E
        run: echo "Hello E2E !"