name: Auto Release on main

on:
  push:
    branches:
      - main

  permissions:
    contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      
    name: Checkout
      uses: actions/checkout@v4

      
    name: Generate version
      id: version
      run: |
        VERSION="v$(date +'%Y.%m.%d')-${GITHUB_RUN_NUMBER}"
        echo "version=$VERSION" >> $GITHUB_OUTPUT

      
    name: Create tag
      run: |
        git tag ${{ steps.version.outputs.version }}
        git push origin ${{ steps.version.outputs.version }}

      
    name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.version.outputs.version }}
        name: Release ${{ steps.version.outputs.version }}
        generate_release_notes: true